.sidebar-container {
    width: 20%;
}

.container-ack {
    display: flex;
    width: 80%;
}

.container-ack .content {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
